In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine

In [6]:
# SQLAlchemy를 사용하여 데이터베이스 연결
engine = create_engine("mysql+pymysql://admin:lazyestate@database-1.cr1v98drjdof.ap-northeast-2.rds.amazonaws.com:3306/LE")

# houseinfo_raw 데이터를 DataFrame으로 받기
df_raw = pd.read_sql_table('houseinfo_raw', engine.connect())

In [8]:
df_raw.head()

,no,case_number,type,city,district,neighborhood,address_number,apartment_block,floor,room,...,auction_date,percentage,result,auction_count,appraised_value,minimum_bid_price,sale_price,sale_rate,number_of_bidders,image
0,79,2020-104683(1),아파트,서울특별시,서초구,잠원동,58-24,323동,2.0,210,...,2023-08-10,100,매각,0,2,2,2,110,1,http://img1.speedauction.co.kr/new_gamimg/2021...
1,80,2022-108221(1),아파트,서울특별시,중구,황학동,2545,102동,27.0,2702,...,2023-08-10,64,매각,2,1,640,755,76,7,http://img1.speedauction.co.kr/new_gamimg/2023...
2,81,2023-218(1),아파트,서울특별시,강남구,압구정동,481,91동,6.0,604,...,2023-08-10,100,매각,0,3,3,3,108,2,http://img1.speedauction.co.kr/new_gamimg/2023...
3,82,2023-100156(1),아파트,서울특별시,중구,신당동,843,106동,7.0,704,...,2023-08-10,80,매각,1,901,720,871,97,11,http://img1.speedauction.co.kr/new_gamimg/2023...
4,83,2022-112350(1),아파트,서울특별시,동작구,신대방동,720,103동,4.0,403,...,2023-08-09,64,매각,2,1,979,1,78,9,http://img1.speedauction.co.kr/new_gamimg/2023...

In [9]:
df_raw.tail()

,no,case_number,type,city,district,neighborhood,address_number,apartment_block,floor,room,...,auction_date,percentage,result,auction_count,appraised_value,minimum_bid_price,sale_price,sale_rate,number_of_bidders,image
968,1047,2020-1667(1),아파트,서울특별시,양천구,신정동,327,1319동,2.0,202,...,2020-08-12,100,배당종결,0,1,1,1,106,4,http://img1.speedauction.co.kr/new_gamimg/2020...
969,1048,2019-9300(1),아파트,서울특별시,동작구,동작동,331,104동,14.0,1401,...,2020-08-11,100,배당종결,0,888,888,938,106,6,http://img1.speedauction.co.kr/new_gamimg/2020...
970,1049,2019-5754(1),아파트,서울특별시,은평구,녹번동,279-1,102동,4.0,404,...,2020-08-11,80,배당종결,1,471,376,475,101,10,http://img1.speedauction.co.kr/new_gamimg/2020...
971,1050,2019-52200(1),아파트,서울특별시,은평구,진관동,10,741동,6.0,601,...,2020-08-11,80,배당종결,1,1,984,1,82,2,http://img1.speedauction.co.kr/new_gamimg/2020...
972,1051,2019-56363(1),아파트,서울특별시,은평구,응암동,197-78,2동,2.0,202,...,2020-08-11,80,배당종결,1,142,113,131,93,4,http://img1.speedauction.co.kr/new_gamimg/2020...

In [11]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   no                 973 non-null    int64
 1   case_number        973 non-null    object
 2   type               973 non-null    object
 3   city               973 non-null    object
 4   district           973 non-null    object
 5   neighborhood       967 non-null    object
 6   address_number     965 non-null    object
 7   apartment_block    652 non-null    object
 8   floor              932 non-null    float64
 9   room               962 non-null    object
 10  apartment_name     709 non-null    object
 11  full_address       973 non-null    object
 12  auction_date       973 non-null    datetime64[ns]
 13  percentage         973 non-null    object
 14  result             973 non-null    object
 15  auction_count      973 non-null    int64
 16  appraised_value    973 non-null    int64
 17  minimum_bid_price  973 non-null    int64
 18  sale_price         973 non-null    int64
 19  sale_rate          973 non-null    int64
 20  number_of_bidders  973 non-null    int64
 21  image              973 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(7), object(13)
memory usage: 167.4+ KB

In [10]:
df_raw.describe()

,no,floor,auction_count,appraised_value,minimum_bid_price,sale_price,sale_rate,number_of_bidders
count,973.000000,932.000000,973.000000,973.000000,973.000000,973.000000,973.000000,973.000000
mean,565.000000,8.332618,1.025694,340.830421,359.941418,352.187050,95.132580,6.121274
std,281.025206,6.677864,1.157529,330.663299,308.081919,323.197658,23.763017,7.587330
min,79.000000,1.000000,0.000000,1.000000,1.000000,1.000000,9.000000,1.000000
25%,322.000000,3.000000,0.000000,1.000000,2.000000,2.000000,77.000000,2.000000
50%,565.000000,7.000000,1.000000,294.000000,344.000000,331.000000,95.000000,4.000000
75%,808.000000,12.000000,2.000000,624.000000,612.000000,637.000000,110.000000,8.000000
max,1051.000000,58.000000,11.000000,998.000000,998.000000,998.000000,230.000000,73.000000